In [2]:
import sys
print(sys.executable)

C:\Users\andre\AppData\Local\Programs\Python\Python312\python.exe

In [3]:
import os
print("DIR: ")  
print(os.getcwd())

DIR:
C:\Users\andre\Desktop\PIANETI_STELLE

In [9]:
# Importa le librerie necessarie
from astroquery.sdss import SDSS
from astropy.table import Table
import pandas as pd
import matplotlib.pyplot as plt
query = """
SELECT TOP 100000
    p.objid, 
    p.ra, 
    p.dec, 
    s.z AS redshift, 
    s.class,  -- Assicurati che 'class' sia una colonna in SpecObj
    p.u, 
    p.g, 
    p.r, 
    p.i, 
    p.z
FROM
    PhotoObjAll AS p
JOIN
    SpecObj AS s ON s.bestobjid = p.objid
WHERE
    s.zWarning = 0
AND
    s.z BETWEEN 0.01 AND 1
AND
    s.class IN ('STAR', 'GALAXY', 'QSO', 'PLANET')  -- Filtra per classi
ORDER BY
    s.z DESC
"""

# Effettua la query
result = SDSS.query_sql(query)

# Converti i dati in un DataFrame di Pandas
df = result.to_pandas()

# Mostra le prime righe del dataset
print(df.head())

# Salva il risultato in un file CSV (opzionale)
df.to_csv("redshift_sdss_data.csv", index=False)

                 objid          ra        dec  redshift   class         u  \
0  1237664869216289195  150.050997  30.773877  0.999999  GALAXY  25.22501
1  1237678858480256034   20.200700  11.509172  0.999998  GALAXY  25.06447
2  1237678879953584626   15.309469  -3.030697  0.999997  GALAXY  22.76108
3  1237665374405394580  236.472613  22.669976  0.999996     QSO  19.30090
4  1237659163880915354  231.432215  48.557953  0.999996     QSO  20.32626

          g         r         i         z
0  22.19054  22.28873  21.97035  21.10712
1  23.54554  22.33624  20.82907  19.76874
2  22.82600  22.33715  21.83812  21.57255
3  19.15252  18.93033  19.04016  19.02150
4  20.22036  20.01596  19.93121  19.95363

In [4]:
df['class']

0     GALAXY
1     GALAXY
2     GALAXY
3        QSO
4        QSO
       ...
95       QSO
96    GALAXY
97       QSO
98    GALAXY
99    GALAXY
Name: class, Length: 100, dtype: object

In [11]:
s = df[df['class']== 'PLANET']
print(s.head())

Empty DataFrame
Columns: [objid, ra, dec, redshift, class, u, g, r, i, z]
Index: []

In [15]:
# Importa le librerie necessarie
from astroquery.sdss import SDSS
import pandas as pd

query = """
SELECT TOP 100000
    p.objid, 
    p.ra, 
    p.dec, 
    s.z AS redshift, 
    s.class,  
    p.u, 
    p.g, 
    p.r, 
    p.i, 
    p.z
FROM
    PhotoObjAll AS p
JOIN
    SpecObj AS s ON s.bestobjid = p.objid
WHERE
    s.zWarning = 0
AND
    s.z BETWEEN 0.01 AND 1
AND
    s.class IN ('PLANET')  
ORDER BY
    s.z DESC
"""

# Effettua la query
result = SDSS.query_sql(query)

# Controlla se il risultato Ã¨ None
if result is None:
    print("Nessun dato trovato. Verifica la query e i criteri di ricerca.")
else:
    # Converti i dati in un DataFrame di Pandas
    df = result.to_pandas()

    # Mostra le prime righe del dataset
    print(df.head())

    # Salva il risultato in un file CSV (opzionale)
    df.to_csv("dataset_Planet.csv", index=False)

Nessun dato trovato. Verifica la query e i criteri di ricerca.

In [16]:
count_query = """
SELECT COUNT(*)
FROM SpecObj
WHERE class = 'PLANET'
"""

count_result = SDSS.query_sql(count_query)
print(count_result)

Column1
-------
      0

In [17]:
from astroquery.sdss import SDSS

# Query per ottenere le classi disponibili
class_query = """
SELECT DISTINCT class
FROM SpecObj
"""
result = SDSS.query_sql(class_query)

print(result)

class
------
GALAXY
   QSO
  STAR